body{
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    padding:0px;
    height: 100%;
    background-color: #a1b3f3;
    margin-top: 5%;
    overflow: hidden;
}

input {
    width: 60%;
    padding: 10px;
    margin-bottom: 2%;
}

h1{
    position: relative;
    height: fit-content;
    text-align: center;
    width: 100%;
}

.box{
    position: relative;
    height: fit-content;
    width: 70%;
    max-width: 600px;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 1%;
    background-color: #FFF;
    border: 1px solid black;    
}

button{
    width: 30%;
    height: max-content;
    border-radius: 24px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    font-size: 18px;
    color: #FFF;
    background-color: #0A3871;
}

#result{
    margin-top: 2%;
    margin-bottom: 2%;
    color:#0A3871;
    resize: none;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: center;
    background-color: none;
}

textarea{
    width: 90%;
    min-height: 120px;
}

footer{
    height: 15px;
    font-size:12px;
    clear: both;
    padding-top: 2%;
    padding-left: 12%;
    text-align: left;
    
}